.bg-image {
    position: absolute;
    top: -50%;                      /* сверху */
    left: 10%;                   /* сначала ставим по центру */
    
    width: 790px;
    height: 897px;
    border-radius: 30px;
    z-index: -1;                 /* позади всего */
}