.price {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #515076;
    display: inline-block;
    margin-top: 12px;
}

.price__figure {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #515076;
    display: inline-block;
    margin-left: 40px;
    margin-top: 12px;
}