h1 {
    text-align: center;
    font-weight: normal; /* жирность*/
    font-size: 70px; /* размер*/
    line-height: 78px; /*  отступ от текста*/
    color: #515076; /* цвет*/
    text-align: center; /* по центру*/
    margin-top: 150px;
    margin-bottom: 10px; /* отступ от заголовка до текста снизу*/
    padding-bottom: 100px;
}